@charset 'utf-8';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  src: local('Spoqa Han Sans Bold'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  src: local('Spoqa Han Sans Regular'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  src: local('Spoqa Han Sans Light'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 100;
  src: local('Spoqa Han Sans Thin'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-style: none; */
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Spoqa Han Sans, "Sans-serif";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.32;
  line-height: 1.0;
}

/* 공통(재사용) */
.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

/* 모바일 메뉴 만들기 */
.mb-wrap {
  position: fixed;
  right: -480px;
  top: 0;
  display: block;
  width: 480px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 30%);
  z-index: 999999;
  transition: all 0.5s;
}

.mb-wrap-open {
  right: 0;
  /* transition: all 0.5s; */
}

.mb-top {
  position: relative;
  display: block;
  margin: 16px 16px 0 25px;
}

.mb-wrap h2 {
  position: relative;
  display: block;
  font-size: 24px;
  margin-top: 6px;
  float: left;
}

.mb-close {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background: url('../images/X_icons.svg') no-repeat center;
  background-size: cover;
  float: right;
  transition: all 0.5s;
}

.mb-cart {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background: url('../images/cart-icon.svg') no-repeat center;
  background-size: cover;
  float: right;
}

.mb-shopping {
  position: relative;
  display: block;
  margin-top: 32px;
}

.mb-shopping span {
  position: relative;
  display: block;
  font-size: 18px;
  margin-left: 25px;
  margin-right: 16px;
  margin-bottom: 20px;
}

.mb-shopping-icon {
  position: relative;
  display: block;
}

.mb-shopping-icon li {
  position: relative;
  display: block;
  width: 104px;
  height: 104px;
  padding: 24px;
  margin-left: 16px;
  margin-top: 10px;
  float: left;
}
.mb-shopping-icon li:hover {
  border-radius: 8px;
  background-color: hsla(0,0%,88%,.29);
}

.mb-shopping-icon li a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  text-align: center;
  font-size: 18px;
}

.mb-shopping-icon img {
  position: relative;
  display: block;
  margin-bottom: 10px;
  width: 48px;
  height: 48px;
}

.mb-bar {
  position: relative;
  display: block;
  margin-top: 23px;
  border-bottom: 1px solid #e0e0e0;
}

.mb-bottom {
  position: relative;
  display: block;
  margin-top: 32px;
  margin-left: 25px;
  margin-right: 16px;

}

.mb-bottom a {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 21px;
}

/* topad */
.topad {
  position: relative;
  width: 100%;
  height: 60px;
  display: block;
  background-image: radial-gradient(circle at 50% 527%, #ff896a, #e23000 119%);
}

.topad-none {
  display: none;
}

.topad .inner a {
  width: 100%;
  height: 60px;
  max-width: 1180px;
  position: relative;
  display: block;
  background: url('../images/top-ad.png') no-repeat center;
  background-size: contain;
}

.topad-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

@media all and (max-width:1100px) {
  .topad {
    height: auto;
  }

  .topad-close {
    width: 7vw;
    height: 7vw;
  }
}


/* 전체 레이아웃 */
/* header */
.header {
  position: sticky;
  top: 60px;
  left: 0;
  display: block;
  height: 96px;
  width: 100%;
  background-color: #000;
  z-index: 99999;
}

.header-fix {
  top: 0;
}

.header-up {
  top: 0px;
}

.header a {
  color: #fff;
}

.header .inner {
  position: relative;
  display: block;
  height: 96px;
  width: 100%;
  max-width: 1200px;
}

.logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  background: url(../images/logo.svg) no-repeat center;
  background-size: contain;
  width: 129px;
  height: 48px;
  font-size: 0;
}

.menu {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 240px;
  height: 18px;
}

.menu>ul {
  position: relative;
  display: block;
}

.menu>ul>li {
  position: relative;
  display: block;
  float: left;
}

.menu>ul>li a {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 18px;
  margin-left: 10px;
}

.member {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: block;
  width: 386px;
  height: 48px;
}

.r-manu>ul {
  position: relative;
  display: block;
  float: left;
  margin-top: 18px;

}

.r-manu>ul>li {
  position: relative;
  display: block;
  float: left;
}

.r-manu>ul>li a {
  position: relative;
  display: block;
  font-size: 14px;
  margin-right: 12px;
  /* line-height: 18px; */
}

.member-line {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 18px;
  float: left;
  border-right: 1px solid#fff;
  margin: 15px 15px 0 0;
}

.l-manu>ul {
  position: relative;
  display: block;
  float: left;
  margin-top: 18px;

}

.l-manu>ul>li {
  position: relative;
  display: block;
  float: left;
}

.l-manu>ul>li a {
  position: relative;
  display: block;
  font-size: 14px;
  margin-right: 12px;
  /* line-height: 18px; */
}

.icons {
  position: absolute;
  right: 0;
  display: block;
  font-size: 0;
}

.icons-1 {
  position: relative;
  display: block;
  background: url(../images/header-cart.svg) no-repeat center;
  background-size: contain;
  width: 48px;
  height: 48px;
  float: left;
}

.icons-2 {
  position: relative;
  display: block;
  background: url(../images/header-menu.svg) no-repeat center;
  background-size: contain;
  width: 48px;
  height: 48px;
  float: left;
}

/* header 반응형 */
@media all and (max-width:1184px) {
  .logo {
    height: 5vw;
  }

}

@media all and (max-width:880px) {
  .inner {
    height: auto;
  }

  .menu {
    height: 1.52vw;
  }

  .menu>li>a {
    font-size: 10px;
    margin-left: 10px;
  }

  .r-manu>ul>li a {
    margin-right: 8px;
  }

}

@media all and (max-width:800px) {
  .inner {
    height: auto;
  }

  .logo {
    width: 100%;
    height: 50%;
  }

  .menu,
  .r-manu,
  .member-line,
  .l-manu {
    display: none;
  }
}

/* visual */
.visual a {
  position: relative;
  display: block;
  width: 100%;
  height: 560px;
  background: url(../images/main_firstgift_logout.29ecc8b.png)no-repeat center;
  background-size: cover;
}

@media all and (max-width:1184px) {
  .visual a {
    width: auto;
    height: 100%;
    padding: 20%;
  }
}

/* infom */
.infom {
  position: relative;
  display: block;
}

.infom .inner {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 63px;
}

.sw-infom {
  position: relative;
  display: block;
  width: 50%;
  height: 182px;
  float: left;
}

.sw-infom a {
  position: relative;
  display: block;
  height: 100%;
}

.sw-infom-1 {
  background: url(../images/banner1.png) no-repeat center;
  background-size: contain;
  height: 176px;
}

.sw-infom-2 {
  background: url(../images/banner2.png) no-repeat center;
  background-size: contain;
}

.sw-infom-3 {
  background: url(../images/banner3.png) no-repeat center;
  background-size: contain;
}

.sw-infom-4 {
  background: url(../images/banner4.png) no-repeat center;
  background-size: contain;
}

.sw-infom-5 {
  background: url(../images/banner5.png) no-repeat center;
  background-size: contain;
}

.sw-infom-6 {
  background: url(../images/banner6.png) no-repeat center;
  background-size: contain;
}

.sw-infom-7 {
  background: url(../images/banner7.png) no-repeat center;
  background-size: contain;
}

/* 슬라이드 좌우버튼 */

.sw-infom-prev {
  position: absolute;
  transform: rotate(180deg);
  display: block;
  width: 16px;
  height: 16px;
  border: none;
  margin-left: 6px;
  margin-top: 8px;
  background: url('../images/r-arrow.svg') no-repeat center;
  background-size: cover;
  cursor: pointer;
  z-index: 99;
}

.sw-infom-next {
  position: absolute;
  bottom: 4px;
  right: 8px;
  display: block;
  width: 16px;
  height: 16px;
  border: none;
  background: url('../images/r-arrow.svg') no-repeat center;
  background-size: cover;
  cursor: pointer;
  z-index: 99;
}

.sw-infom-control {
  position: absolute;
  left: 8px;
  top: 136px;
  display: block;
  width: 103px;
  height: 30px;
  z-index: 99;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  background-color: #fff;
}

.sw-infom-pg {
  position: absolute;
  left: 39%;
  top: 8px;
  display: block;
  font-size: 13px;
  color: #000;
}

.r-infom a {
  position: relative;
  display: block;
  width: 50%;
  height: 170px;
  background: url(../images/freshplan.9fe4775.png) no-repeat center;
  background-size: contain;
  background-color: #fff;
  z-index: 999;
  float: right;
}

/* infom 반응형 */
@media all and (max-width:1184px) {
  .infom .inner {
    padding-top: 5.32vw;
  }
}

@media all and (max-width:800px) {
  .sw-infom a .r-infom a {
    display: block;
    width: 100%;
    /* max-width: 1000px; */
    height: 30vw;
  }

  .sw-infom {
    display: block;
    width: 100%;
    /* margin-bottom: 10px; */
  }

  .r-infom a {
    display: block;
    width: 100%;
    /* margin-top: 35px; */
    /* background-size: cover; */
  }

  .sw-infom-control {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }

  .sw-infom-pg {
    position: absolute;
    bottom: 0;
    left: 35px;
  }

}

/* items */
.items {
  position: relative;
  display: block;
}

.items .inner {
  position: relative;
  display: block;
  margin-top: 80px;
}

.items .inner h2 {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 30px;
}

.best-items {
  position: relative;
  display: block;
}

.best-items li {
  position: relative;
  display: block;
  float: left;
  margin: 0 29px 60px 0;
}

.best-items li:nth-child(3) {
  margin: 0;
}

.best-items li:nth-child(6) {
  margin: 0;
}

.best-items-pic {
  position: relative;
  display: block;
  width: 375px;
  height: 416px;
  background-color: #f9f7f8;
}

.best-items-pic-free {
  position: absolute;
  top: 16px;
  left: 16px;
  display: block;
  width: 75px;
  height: 30px;
  background: url(../images/무항생제.svg) no-repeat center;
  background-size: contain;
}

.best-items-pic-bg {
  position: absolute;
  left: 11%;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 276px;
  height: 276px;
  background: url(../images/porkbelly-fresh-list-1.png) no-repeat center;
  background-size: contain;
}

.best-items li:nth-child(2) .best-items-pic-bg {
  background: url(../images/chickef-cut-list-2.png) no-repeat center;
  width: 276px;
  height: 276px;
  background-size: contain;
}

.best-items li:nth-child(3) .best-items-pic-bg {
  background: url(../images/porkcutlet-sirloin-list-3.png) no-repeat center;
  width: 276px;
  height: 276px;
  background-size: contain;
}

.best-items li:nth-child(4) .best-items-pic-bg {
  background: url(../images/egg-fresh-list-4.png) no-repeat center;
  width: 276px;
  height: 276px;
  background-size: contain;
}

.best-items li:nth-child(5) .best-items-pic-bg {
  background: url(../images/milk-fresh-list-5.png) no-repeat center;
  width: 276px;
  height: 276px;
  background-size: contain;
}

.best-items li:nth-child(6) .best-items-pic-bg {
  background: url(../images/baby-hanuround-bmix-list-6.png) no-repeat center;
  width: 276px;
  height: 276px;
  background-size: contain;
}

.best-items-pic-btn {
  position: absolute;
  bottom: 10px;
  right: 15px;
  display: block;
  width: 72px;
  height: 72px;
  background: url(../images/카트\ 아이콘.svg) no-repeat center #fff;
  background-size: contain;
  border: 1px solid #EEEEEE;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 25px 10px -15px;
}

.best-items-pic-btn:hover {
  position: absolute;
  bottom: 10px;
  right: 15px;
  display: block;
  width: 72px;
  height: 72px;
  background: url(../images/카트\ 아이콘\ white.svg) no-repeat center #fff;
  background-size: contain;
  background-color: #000;
}

.best-items-p {
  position: relative;
  display: block;
}

.best-items li a p:first-child {
  position: relative;
  display: block;
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
}

.best-items li a p:last-child {
  position: relative;
  display: block;
  font-size: 16px;
  padding-top: 10px;
}

/* imems 반응형 */
@media all and (max-width:1184px) {

  .best-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .best-items-pic {
    height: 35.13vw;
  }

  .best-items-pic-free {
    height: 2.53vw;
  }

  .best-items li .best-items-pic-bg {
    height: 23.31vw;
  }

  .best-items li:nth-child(2) .best-items-pic-bg {
    height: 23.31vw;
  }

  .best-items li:nth-child(3) .best-items-pic-bg {
    height: 23.31vw;
  }

  .best-items li:nth-child(4) .best-items-pic-bg {
    height: 23.31vw;
  }

  .best-items li:nth-child(5) .best-items-pic-bg {
    height: 23.31vw;
  }

  .best-items li:nth-child(6) .best-items-pic-bg {
    height: 23.31vw;
  }

  .best-items-pic-btn {
    height: 60px;
    width: 60px;
  }

}

@media all and (max-width:810px) {
  .items .inner h2 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
    text-align: center;
  }
  .best-items li:nth-child(3) {
    margin: 0 29px 60px 0;
  }
  
  .best-items li:nth-child(6) {
    margin: 0 29px 60px 0;
  }
  .best-items-pic-free {
    width: 75px;
    height: 30px;
  }
}


/* shopping */
.shopping {
  position: relative;
  display: block;
}

.shopping .inner {
  position: relative;
  display: block;
  width: 93%;
  height: 208px;
  background: url(../images/banner_shop.96086e0.png)no-repeat center;
  background-size: cover;
}

/* shopping 반응형 */
@media all and (max-width: 1184px) {
  .shopping .inner {
    margin-top: 30px;
    height: 17.5vw;
  }
}

/* footer */
.footer {
  position: relative;
  display: block;
  margin-top: 150px;
  background-color: #fff;
  border-top: 1px solid #BDBDBD;
}

.footer-top {
  position: relative;
  display: block;
  /* height: 63px; */
  padding: 25px 0;
}

.footer-top-right {
  position: relative;
  display: block;
}

.footer-top-right a {
  position: relative;
  display: inline-block;
  margin-right: 23px;
  font-size: 14px;
  font-weight: 500;
}

.footer-top-right a strong {
  position: relative;
  display: inline-block;
  margin-right: 0;
  font-size: 14px;
  font-weight: 700;
}

.footer-top-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.footer-top-icon button {
  position: relative;
  display: block;
  width: 128px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fafafa;
  padding: 10px 0;
  float: left;
  margin-right: 25px;
}

.footer-top-icon button span {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/phone_icon.svg) no-repeat center;
  background-size: cover;
  float: left;
}

.footer-top-icon button p {
  position: relative;
  display: block;
  font-size: 13px;
  color: #212121;
  text-align: center;
  line-height: 25px;
  float: left;
}

.footer-icon-kakao {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/icon_kakao.svg) no-repeat center;
  background-size: cover;
  float: left;
  margin-right: 18px;
  margin-top: 15px;
}

.footer-icon-insta {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/icon_insta.svg) no-repeat center;
  background-size: cover;
  float: left;
  margin-top: 15px;
}

hr {
  border-top: 1px solid #EEEEEE;
}

.footer-bottom {
  position: relative;
  display: block;
  height: 203px;
}

.footer-bottom-main {
  position: relative;
  display: block;
  float: left;
}

.footer-bottom-logo {
  position: relative;
  display: block;
  width: 82px;
  height: 32px;
  background: url('../images/footer_logo.svg') no-repeat center;
  background-size: cover;
  margin-top: 16px;
}

.footer-bottom-info {
  position: relative;
  display: block;
  margin-top: 16px;
}

.footer-bottom-info div {
  position: relative;
  display: block;
}

.footer-bottom-info span {
  position: relative;
  display: block;
  font-size: 13px;
  color: #212121;
  margin-right: 8px;
  line-height: 25px;
  float: left;
}

.footer-bottom-info a {
  position: relative;
  display: block;
  font-size: 13px;
  color: #4bb8ce;
  padding-right: 3px;
  cursor: pointer;
}

.footer-bottom-main p {
  position: relative;
  display: block;
  font-size: 12px;
  color: #212121;
  padding-top: 30px;
}

.footer-bottom-cs {
  position: relative;
  display: block;
  float: right;
  text-align: right;
  float: right;
}

.footer-bottom-cs h6 {
  position: relative;
  display: block;
  font-size: 14px;
  margin-top: 13px;
}

.footer-bottom-cs h3 {
  position: relative;
  display: block;
  font-size: 24px;
}

.footer-bottom-cs-time {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #757575;
}

.footer-bottom-cs-main {
  position: relative;
  display: block;
  margin-top: 9px;
}

.footer-bottom-cs-main p {
  position: relative;
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin: 5px 0;
}

.footer-bottom-cs-main span a {
  position: relative;
  display: inline-block;
  font-size: 13px;
  color: #4bb8ce;
}

.footer-bottom-cs button {
  position: relative;
  display: block;
  width: 88px;
  height: 32px;
  font-size: 13px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #212121;
  margin-right: 8px;
  margin-top: 5px;
  float: left;
  cursor: pointer;
}

.footer-bottom-cs button:last-child {
  margin-right: 0;
}

/* footer 반응형 */
@media all and (max-width:1184px) {
  .footer {
    margin-top: 12vw;
  }
}

@media all and (max-width:700px) {
  .footer-top {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer-bottom-main {
    display: none;
  }

  .footer-bottom-cs {
    display: block;
    position: absolute;
    left: 0;
    text-align: left;
    margin-left: 30px;
  }

}